@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

html{
    scroll-behavior: smooth;
}

:root {
    --ciemny_szary: rgb(10, 10, 10);
    --sredni_szary: rgb(20, 20, 20);
    --jasny_szary: rgb(30, 30, 30);
    --b_jasny_szary: rgb(160, 160, 160);

    --bialy: rgb(245, 245, 245);
    --bg_hover: rgb(60, 60, 60);

    --padding_glowny: 10%;

    --gradient: linear-gradient(to left, #d53a9d, #743ad5);
    --gradient_hover: linear-gradient(to left, #db84ba, #9c7ad6);

    --radius_uslugi: 1rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--ciemny_szary);
    overflow-x: hidden;
}

/* Nawigacja początek */
nav{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    white-space: nowrap;
    transition: 0.6s;
    min-height: 8vh;
    z-index:10000;
    margin: 0;
}

.nav-links{
    position: relative;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    width: 60%;
}

    .nav-links li{
        list-style: none;
        margin: auto;
    }

        .nav-links li a{
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
            text-align: center;
            text-decoration: none;
            color: rgb(10, 10, 10);
            font-size: 1.3rem;
            border-radius: 0.6em;
            padding: 0.6em;
            font-weight: 500;
            transition: 0.6s;
        }

            .nav-links li a:hover {
                background-color: rgb(200, 200, 200);
                transition: 0.6s;
            }

nav.sticky {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: var(--ciemny_szary);
    box-shadow: 0 6px 15px -2px #fff;
    transition: 0.6s;
}

    nav.sticky a{
        color: var(--bialy);
        transition: 0.6s;
    }

    nav.sticky a:hover{
        background-color: var(--bg_hover);   
        transition: 0.6s;
    }

/* Logotyp */
h1 {
    font-size: 2.5rem;
    letter-spacing: 0.02em;
    color: var(--ciemny_szary);
    font-weight: 500;
    transition: 0.6s;
}

    nav.sticky h1 {
        color: var(--bialy);
        transition: 0.6s;
    }
/* /Logotyp */
/* Nawigacja koniec */

.page{
    display: flex;
    flex-direction: column;
}

/* Unia początek */
.unia {
    background-color: var(--bialy);
}

.unia_images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 1rem;
    height: 5rem;
}

    .unia_images img{
        position: relative;
        max-height: 100%;
        max-width: 20%;
    }

.unia_text{
    text-align: center;
    max-width: 90ch;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

    .unia_text p{
        font-size: 0.8em;
        margin: 0.4em;
        line-height: 1.2em;
    }
/* Unia koniec */

/* Slider */
[data-component="slideshow"] .slide {
    position: absolute;
    display: block;
    opacity: 0;
    transition: 1.5s;
    width:100%;
}

[data-component="slideshow"] .slide.active {
    display: block;
    opacity: 1;
    transition: 1.5s;
}

.slide_img{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
/* /Slider */


/* Logo główne */
.logo {
    position: relative;
    display: flex;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 10%;
}

    .logo::before {
        content: '';
        position: absolute;
        width: 110%;
        height: 110%;
        background: conic-gradient(from 90deg at 50% 50%, rgba(0, 0, 0, 0) 90deg, #fff 180deg, rgba(0, 0, 0, 0) 180deg 270deg, #fff);
        animation: animate 8s linear infinite;
    }

    .logo::after {
        content: '';
        position: absolute;
        inset: 0.15rem;
        background: var(--ciemny_szary);
        border-radius: 50%;
    }

.logo_white {
    width: 100%;
    z-index: 10;
}
/* /Logo główne */


/* O nas */
.about_us_container {
    margin-left: var(--padding_glowny);
    margin-right: var(--padding_glowny);
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--bialy);
    white-space: nowrap;
    margin-top: 0;
}

.about_us{
    position: relative;
    display: flex;
}

    .about_us img{
        position: relative;
        min-width: 20%;
        height: 20%;
        margin-right: 1.5rem;
        border: 0.3rem solid;
        border-image-slice: 1;
        border-image-source: var(--gradient);
        left: 0;
        float: left;
    }

    .about_us p {
        position: relative;
        left: 0;
        color: var(--bialy);
        font-size: 1.5rem;
        line-height: 1.2em;
    }
/* /O nas */

/* Nasze usługi */
.services {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: var(--padding_glowny);
    padding-right: var(--padding_glowny);
    background-color: var(--jasny_szary);
}

h3 {
    position: relative;
    font-size: 2.4rem;
    font-weight: 500;
    white-space: nowrap;
    color: var(--bialy);
    margin-bottom: 0.5rem;
}

.service_buttons{
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
}

.button_border {
    position: relative;
    width: 45rem;
    min-width: 35%;
    max-width: 100%;
    height: 12.4rem;
    margin: 0.5rem;
    border-radius: var(--radius_uslugi);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: none;
    z-index: 9;
}

.button_services {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 99%;
    max-height: 12rem;
    height: 12rem;
    background: var(--gradient);
    border-radius: var(--radius_uslugi);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 10;
    margin: auto;
}

/* Przycisk animacja */
.button_border .button_services:hover::before {
    content: '';
    position: absolute;
    width: 80rem;
    height: 80rem;
    border-radius: 50%;
    background: conic-gradient(from 90deg at 50% 50%, rgba(0, 0, 0, 0) 10deg, #fff 180deg, rgba(0, 0, 0, 0) 180deg 190deg, #fff);
    animation: animate 8s linear infinite;
}

.button_border .button_services:hover::after {
    content: '';
    position: absolute;
    inset: 0.2rem;
    border-radius: var(--radius_uslugi);
    background: var(--gradient_hover);
}
/* /Przycisk animacja */

/* Zdjęcie na przyciskach */
.button_services img {
    position: relative;
    width: 20rem;
    min-width: 20rem;
    clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 100%);
    border-radius: var(--radius_uslugi);
    z-index: 10;
    margin-right: 0;
    margin-left: auto;
    float: right;
}
/* /Zdjęcie na przyciskach */

/* Napis na przyciskach */
h6 {
    margin-left: 2rem;
    margin-right: auto;
    font-size: 1.5rem;
    color: var(--bialy);
    z-index: 10;
    white-space: break-spaces;
}
/* /Napis na przyciskach */
/* /Nasze usługi */

/* Animacja obracający gradient */
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* /Animacja obracający gradient */

/* Zaufali nam */
.trusted{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: var(--padding_glowny);
    padding-right: var(--padding_glowny);
    position: relative;
    display: block;
    justify-content: center;
    align-content: center;
}

/* Slideshow container */
.slideshow-container {
    max-width: 60rem;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    color: rgb(200, 200, 200);
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 0.5em 0.5em 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0.5em 0 0 0.5em;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: var(--jasny_szary);
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* /Zaufali nam */

/* Stopka */
footer {
    position: relative;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-left: var(--padding_glowny);
    padding-right: var(--padding_glowny);
    background-color: var(--sredni_szary);
}

/* Kontakt */
.contact {
    display: flex;
    justify-content: left;
    align-items: center;
}

.contact_inf {
    color: var(--b_jasny_szary);
    font-size: 1.5rem;
    margin-right: 1rem;
    white-space: nowrap;
}

    .contact_inf a {
        color: var(--b_jasny_szary);
        text-decoration: none;
    }

    .contact_inf a:hover {
        color: var(--bialy);
        transition: 0.3s;
        text-decoration: underline;
    }

#regulamin{
    margin-left: auto;
    margin-right: 0;
}
/* /Kontakt */

hr {
    opacity: 0.6;
}

.copyright {
    color: var(--bialy);
    opacity: 0.6;
    white-space: nowrap;
}
/* /Stopka */

/* Burger */
.burger {
    position: absolute;
    display: none;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 0.6em;
    padding: 0.1em;
    margin-left: 50%;
    margin-right: auto;
}

.burger div{
    background-color: var(--bialy);
    width: 1.5em;
    height: 0.2rem;
    margin: 0.4rem;
}
/* /Burger */

/*---------------------------90em--------------------------------------*/
@media screen and (max-width: 90em) {

    /* Usługi */
    .button_services{
        text-align: center;
    }

    h6 {
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .button_services img {
        display: none;
    }
    /* /Usługi */

    /* About us */
    .about_us p {
        font-size: 1.3rem;
    }
    /* /About us */

    /* Footer */
    .contact_inf {
        font-size: 1.3rem;
    }
    /* /Footer */
}
/*---------------------------90em--------------------------------------*/

/*---------------------------70em--------------------------------------*/
@media screen and (max-width: 70em) {

    /* Nawigacja */
    nav {
        justify-content: space-evenly;
    }

    .nav-links {
        right: 0;
        position: absolute;
        height: 92vh;
        top: 100%;
        background-color: var(--ciemny_szary);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.6s ease-in;
    }

    .burger {
        display: block;
    }

    .burger div {
        transition: 0.6s;
    }

    .burger:hover {
        background-color: var(--bg_hover);
        transition: 0.6s;
    }

    nav {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        background-color: var(--ciemny_szary);
        box-shadow: 0 6px 15px -2px #fff;
        transition: 0.6s;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        color: var(--bialy);
        transition: 0.6s;
    }

    .nav-links li a:hover {
        background-color: var(--bg_hover);
        transition: 0.6s;
    }

    /* Logotyp */
    .logo_nav {
        text-align: center;
        margin-left: 5%;
        margin-right: auto;
    }

    h1 {
        font-size: 2rem;
        color: var(--bialy);
        transition: 0.6s;
    }
    /* /Logotyp */
    /* /Nawigacja */

    /* Nagłówki */
    h2, h3{
        font-size: 2rem;
    }

    /* /Nagłówki */

    /* Unia */
    .unia_text{
        font-size: 0.9rem;
    }
    /* /Unia */

    /* About us */
    .about_us p{
        font-size: 1.2rem;
    }
    /* /About us */

    /* Footer */
    .contact_inf {
        font-size: 1.1rem;
    }
    /* /Footer */

}
/*---------------------------70em--------------------------------------*/

/*---------------------------60em--------------------------------------*/
@media screen and (max-width: 60em) {

    h6{
        font-size: 1.4rem;
        line-height: 1.3em;
    }

    .button_border {
        height: 10.4rem;
    }

    .button_services {
        max-height: 10rem;
        height: 10rem;
    }

    /* About us */
    .about_us p {
        font-size: 1rem;
    }
    /* /About us */

    /* Footer */
    .contact_inf {
        font-size: 1rem;
    }
    /* /Footer */
}
/*---------------------------60em--------------------------------------*/

/*---------------------------50em--------------------------------------*/
@media screen and (max-width: 50em) {

    /* Nagłówki */
    h2, h3 {
        font-size: 1.8rem;
    }
    /* /Nagłówki */

    /* Unia */
    .unia_text {
        font-size: 0.8rem;
    }
    /* /Unia */

    /* Usługi */
    h6 {
        font-size: 1.2rem;
    }

    .button_border {
        height: 8.4rem;
    }

    .button_services {
        max-height: 8rem;
        height: 8rem;
    }
    /* /Usługi */

    /* About us */
    .about_us p {
        font-size: 0.8rem;
    }
    /* /About us */

    /* Footer */
    .contact_inf {
        font-size: 0.8rem;
    }
    /* /Footer */

}
/*---------------------------50em--------------------------------------*/

/*---------------------------40em--------------------------------------*/
@media screen and (max-width: 40em) {

    /* Nagłówki */
    h2, h3 {
        font-size: 1.2rem;
    }
    /* /Nagłówki */

    /* Unia */
    .unia_text {
        font-size: 0.7rem;
    }
    /* /Unia */

    /* Usługi */
    h6 {
        font-size: 1rem;
    }

    .service_buttons{
        flex-direction: column;
    }

    .button_border {
        height: 6.4rem;
        margin: 0;
    }

    .button_services {
        max-height: 6rem;
        height: 6rem;
    }
    /* /Usługi */

    /* About us */
    .about_us p {
        font-size: 0.55rem;
    }
    /* /About us */

    /* Footer */
    .contact_inf {
        font-size: 0.6rem;
        margin-right: 0.5rem;
    }

    .copyright{
        font-size: 0.8rem;
    }
    /* /Footer */

    .nav-links li a {
        font-size: 1rem;
    }
}
/*---------------------------40em--------------------------------------*/

/*---------------------------30em--------------------------------------*/
@media screen and (max-width: 30em) {

    /* Nagłówki */
    h2, h3 {
        font-size: 1rem;
    }
    /* /Nagłówki */

    /* Unia */
    .unia_text {
        font-size: 0.6rem;
    }
    /* /Unia */

    /* Usługi */
    h6 {
        font-size: 1rem;
    }

    .service_buttons {
        flex-direction: column;
    }

    .button_border {
        height: 6.4rem;
    }

    .button_services {
        max-height: 6rem;
        height: 6rem;
    }
    /* /Usługi */

    /* About us */
    .about_us p {
        font-size: 0.5rem;
    }
    /* /About us */

    /* Footer */
    footer{
        position: relative;
        bottom: 0;
    }

    .contact{
        flex-direction: column;

    }
    .contact_inf {
        font-size: 0.6rem;
        margin-top: 0.5em;
    }

    .copyright {
        text-align: center;
        font-size: 0.6rem;
    }

    #regulamin{
        margin-left: auto;
        margin-right: auto;
    }
    /* /Footer */

    .burger {
        margin-left: auto;
        right: 5%;
    }

}
/*---------------------------30em--------------------------------------*/

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50em);
    }
    to{
        opacity: 1;
        transform: translateX(0em);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-7px, 7px);
    transition: 0.6s;
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-7px, -7px);
    transition: 0.6s;
}
