html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --ciemny_szary: rgb(10, 10, 10);
    --sredni_szary: rgb(20, 20, 20);
    --jasny_szary: rgb(30, 30, 30);

    --bialy: rgb(245, 245, 245);
    --bg_hover: rgb(60, 60, 60);

    --padding_glowny: 10%;

    --gradient: linear-gradient(to left, #d53a9d, #743ad5);
    --gradient_hover: linear-gradient(to left, #db84ba, #9c7ad6);

    --radius_uslugi: 1rem;
}

body {
    background-color: var(--ciemny_szary);
    overflow-x: hidden;
}

/* Nawigacja pocz�tek*/
nav {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    white-space: nowrap;
    min-height: 8vh;
    z-index: 10000;
    background-color: var(--ciemny_szary);
    box-shadow: 0 6px 15px -2px #fff;
    transition: 0.6s;
}

.nav-links {
    position: relative;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    width: 60%;
}

.nav-links li {
    list-style: none;
    margin: auto;
}

.nav-links li a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center;
    text-decoration: none;
    color: var(--bialy);
    font-size: 1.3em;
    border-radius: 0.6em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    font-weight: 500;
    transition: 0.6s;
}

nav a:hover {
    background-color: var(--bg_hover);
    transition: 0.6s;
}

/* Logotyp */
h1 {
    letter-spacing: 0.02em;
    font-size: 2.5rem;
    color: var(--bialy);
    font-weight: 500;
}

.logo_nav{
    max-height: 3.8em;
}
/* /Logotyp */
/* Nawigacja koniec*/


p {
    font-size: 1.5rem;
    color: var(--bialy);
    margin-top: 0.5rem;
}

h1 {
    font-size: 2.5rem;
    color: var(--bialy);
    margin-bottom: 2rem;
}

/* O nas */
.bg_logowanie {
    background-image: url("Materialy/image1.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.o_nas_div {
    position: relative;
    margin-left: var(--padding_glowny);
    margin-right: var(--padding_glowny);
    margin-bottom: 6rem;
    padding-top: 10rem;
    min-height: 54vh;
}

.regulamin {
    position: relative;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background: var(--jasny_szary);
    padding: 4rem;
    padding-top: 10rem;
    min-height: 35em;
}

.regulamin ul{
    list-style-type: circle;
    color: var(--bialy);
}

.regulamin ul li h3{
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.regulamin ul li p{
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.regulamin ul li p a{
    color: var(--bialy);
}

h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--bialy);
    white-space: nowrap;
    margin-top: -1rem;
}

.o_nas {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0;
}

.o_nas img {
    width: 20rem;
    height: 20rem;
    margin-right: 1.5rem;
    border: 0.3rem solid;
    border-image-slice: 1;
    border-image-source: var(--gradient);
    float: left;
    object-fit: cover;
}

.o_nas p {
    color: var(--bialy);
    font-size: 1.4em;
}
/* /O nas */


.zaloguj_sie{
    height: 60%;
    min-height: 10em;
    width: 25%;
    min-width: 20em;
    background: var(--jasny_szary);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: left;
    padding: 5%;
    border-radius: 1.5rem;
}

label[for=uname], label[for=psw]{
    color: var(--bialy);
    font-weight: 200;
    letter-spacing: 0.1em;
    margin-bottom: 0.5rem;
}

label[for=psw]{
    margin-top: 1rem;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 0.6rem;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    box-sizing: border-box;
}

button[type=submit] {
    margin-top: 1.5rem;
    padding: 0.5em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8rem;
    background: var(--bialy);
    color: var(--ciemny_szary);
    transition: 0.6s;
    cursor: pointer;
    border: none;
}

button[type=submit]:hover{
    background: var(--ciemny_szary);
    color: var(--bialy);
    transition: 0.6s;
}

.logowanie {
    margin-top: 1.5rem;
    font-size: 1rem;
}

.logowanie a{
    color: var(--bialy);
}

/* Stopka */
footer {
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-left: var(--padding_glowny);
    padding-right: var(--padding_glowny);
    background-color: var(--sredni_szary);
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Kontakt */
.kontakt {
    display: flex;
    justify-content: left;
    align-items: center;
}

.kontakt a {
    text-decoration: none;
}

.kontakt img {
    height: 2.5rem;
    margin-right: 1.5rem;
    opacity: 0.6;
}

.kontakt img:hover {
    opacity: 1;
    transition: 0.6s;
}

.kontakt p {
    color: var(--bialy);
    font-size: 1.5rem;
    margin-right: 2rem;
    white-space: nowrap;
    opacity: 0.6;
}

#regulamin:hover {
    opacity: 1;
    transition: 0.6s;
}
/* /Kontakt */

hr{
    opacity: 0.6;
}

.copyright {
    color: var(--bialy);
    opacity: 0.6;
    white-space: nowrap;
}
/* /Stopka */


@media screen and (max-width: 90em) {

    nav a {
        font-size: 1.5em;
    }

    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .regulamin {
        padding-top: 8rem;
    }

}

/* Burger */
.burger {
    position: absolute;
    display: none;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 0.6em;
    padding: 0.1em;
    margin-left: 50%;
    margin-right: auto;
}

    .burger div {
        background-color: var(--bialy);
        width: 1.5em;
        height: 0.2rem;
        margin: 0.4rem;
    }
/* /Burger */


@media screen and (max-width: 70em) {
    .kontakt p {
        font-size: 1.3rem;
        margin-right: 0.5rem;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        justify-content: center;
    }

    .nav-links {
        right: 0;
        position: absolute;
        max-height: 92vh;
        height: 92vh;
        top: 8vh;
        background-color: var(--ciemny_szary);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.6s ease-in;
    }

    .burger {
        display: block;
    }

    .burger div {
        transition: 0.6s;
    }

    .burger:hover {
        background-color: var(--bg_hover);
        transition: 0.6s;
    }

    nav {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        background-color: var(--ciemny_szary);
        box-shadow: 0 6px 15px -2px #fff;
        transition: 0.6s;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        color: var(--bialy);
        transition: 0.6s;
    }

    .nav-links li a:hover {
        background-color: var(--bg_hover);
        transition: 0.6s;
    }

    /* Logotyp */
    .logo_nav {
        width: 50%;
        text-align: center;
        margin-left: 0;
        margin-right: auto;
    }

    nav h1 {
        color: var(--bialy);
        transition: 0.6s;
    }
    /* Logotyp */

}

@media screen and (max-width: 70em) {
    .kontakt p {
        font-size: 1.1rem;
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 40em) {
    nav h1 {
        font-size: 1.8em;
    }

    nav a {
        font-size: 1.2em;
    }

    p {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    .regulamin {
        padding-top: 8rem;
    }

    .o_nas p {
        font-size: 0.9em;
    }

    /* Stopka */
    /* Kontakt */
    .kontakt img {
        height: 1.6rem;
        margin-right: 0.5rem;
    }

    .kontakt p {
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }
    /* /Kontakt */

    .copyright p {
        font-size: 0.8rem;
    }
    /* /Stopka */
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50em);
    }

    to {
        opacity: 1;
        transform: translateX(0em);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
    transition: 0.6s;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
    transition: 0.6s;
}