@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --ciemny_szary: rgb(10, 10, 10);
    --sredni_szary: rgb(20, 20, 20);
    --jasny_szary: rgb(30, 30, 30);
    --b_jasny_szary: rgb(160, 160, 160);
    --bialy: rgb(245, 245, 245);
    --bg_hover: rgb(60, 60, 60);
    --padding_glowny: 10%;
    --gradient: linear-gradient(to left, #d53a9d, #743ad5);
    --gradient_hover: linear-gradient(to left, #db84ba, #9c7ad6);
    --radius_uslugi: 1rem;
}


body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

.bg_image {
    background: var(--gradient);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nawigacja początek */
nav {
    position: fixed;
    min-width: 20%;
    height: 100%;
    z-index: 10000;
    background-color: var(--ciemny_szary);
}

.nav_table {
    margin-left: 1rem;
    border-collapse: separate;
    border-spacing: 0 2em;
}

.nav_tr {
    text-decoration: none;
    color: var(--bialy);
    font-size: 1.5rem;
    font-weight: 500;
    border: 2rem solid black;
    border-radius: 0.6em;
    transition: 0.6s;
    cursor: pointer;
}

.nav_tr:hover {
    background-color: var(--bg_hover);
    transition: 0.6s;
}

.nav_td {
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.img_td {
    padding-left: 0.5em;
    padding-right: 0;

    text-align: center;
    vertical-align:  middle;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.nav_icons{
    height: 1.5rem;
}
/* Nawigacja koniec */

.page {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    min-height: 85vh;
}

/* Stopka */
footer {
    position: relative;
    bottom: 0;
    min-height: 10vh;
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-left: 20%;
    background-color: var(--sredni_szary);
}

/* Kontakt */
.contact {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: var(--padding_glowny);
    margin-left: var(--padding_glowny);
}

.contact_inf {
    color: var(--b_jasny_szary);
    font-size: 1.5rem;
    margin-right: 1rem;
    white-space: nowrap;
}

    .contact_inf a {
        color: var(--b_jasny_szary);
        text-decoration: none;
    }

        .contact_inf a:hover {
            color: var(--bialy);
            transition: 0.3s;
            text-decoration: underline;
        }

#regulamin {
    margin-left: auto;
    margin-right: 0;
}
/* /Kontakt */

hr {
    opacity: 0.6;
    margin-right: var(--padding_glowny);
    margin-left: var(--padding_glowny);
}

.copyright {
    margin-right: var(--padding_glowny);
    margin-left: var(--padding_glowny);
    color: var(--bialy);
    opacity: 0.6;
    white-space: nowrap;
}
/* /Stopka */

h4 {
    position: relative;
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--bialy);
    margin-bottom: 2rem;
}

/* log PODSTRONA */
.sig_page {
    text-align: center;
    position: relative;
    min-height: 100%;
    background: var(--jasny_szary);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: var(--radius_uslugi);
}

.signup {
    text-align: left;
    color: var(--bialy);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

    .signup label {
        margin-bottom: 0.6rem;
        margin-top: 1rem;
    }

    .signup input {
        font-family: 'Poppins', sans-serif;
        height: 2rem;
        border-radius: 0.5em;
        padding-left: 1rem;
        margin-bottom: 0.6rem;
        border: none;
    }

    .signup button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background: var(--b_jasny_szary);
        width: 12rem;
        cursor: pointer;
        font-size: 1rem;
        height: 3em;
        border-radius: 0.5em;
        transition: 0.6s;
    }

        .signup button:hover {
            background: var(--gradient);
            color: var(--bialy);
            transition: 0.6s;
        }

    .signup a {
        text-align: center;
        color: var(--bialy);
        margin-top: 1rem;
    }

    .signup p {
        margin-left: auto;
        margin-right: auto;
        color: var(--bialy);
        margin-top: 2rem;
    }

.generate{
    display: flex;
    white-space: nowrap;
}

/* /log PODSTRONA */

/* profile PODSTRONA */

.prof_page {
    text-align: center;
    position: relative;
    min-height: 100%;
    background: var(--jasny_szary);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: var(--radius_uslugi);
}

.profile {
    text-align: left;
    color: var(--bialy);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

    .profile label {
        margin-bottom: 0.6rem;
        margin-top: 1rem;
    }

    .profile input {
        font-family: 'Poppins', sans-serif;
        height: 2.5rem;
        border-radius: 0.5em;
        margin-bottom: 0.6rem;
        width: 11rem;
        border: none;
    }

    .profile button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background: var(--b_jasny_szary);
        width: 12rem;
        cursor: pointer;
        font-size: 1rem;
        height: 3em;
        border-radius: 0.5em;
        transition: 0.6s;
    }

        .profile button:enabled:hover {
            background: var(--gradient);
            color: var(--bialy);
            transition: 0.6s;
        }

input[type="text"]:disabled, input[type="password"]:disabled, input[type="email"]:disabled {
    color: var(--bialy);
    text-align: center;
}

.edit_icons {
    height: 1rem;
    margin: 0;
    padding: 0;
}

#editName, #editSecondName, #editEmail, #editPhone, #editPwd {
    border: none;
    margin-left: 0.2rem;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 2.5rem;
    height: 2.5em;
    border-radius: 0.5em;
}
/* /profile PODSTRONA */

/* calendar PODSTRONA */
.calendar_page {
    position: relative;
    min-height: 80vh;
    background: var(--jasny_szary);
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
/* /calendar PODSTRONA */

/* users PODSTRONA */
.users_page {
    text-align: left;
    position: relative;
    width:80%;
    background: var(--jasny_szary);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: var(--radius_uslugi);
}

.look_for{
    margin-bottom: 1rem;
    width: 8rem;
    height: 1.5rem;
    text-align: left;
}

#order_by {
    height: 1.8rem;
    cursor: pointer;
}

.uploadFile {
    height: 1.8rem;
    cursor: pointer;
    color: var(--bialy);
}

.uploadComment {
    margin-bottom: 1rem;
    width: 8rem;
    height: 1.5rem;
    text-align: left;
}

.uploadSubmit {
    height: 1.8rem;
    cursor: pointer;
}

.usersContainer {
    overflow-x: auto;
    max-height: 35rem;
    width: 90%;
}

.usersTable_th, .usersTable_td0, .usersTable_td1, .usersTable_td2, .usersTable_td3, .usersTable_td4 {
    border-radius: 0;
    border: 0.1em solid var(--bialy);
    padding: 0.5em;
    color: var(--bialy);
    background: var(--sredni_szary);
    white-space: nowrap;
}

.usersTable_th{
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}

.usersTable_td0 {
    font-size: 0.8rem;
    vertical-align: middle;
    background: rgb(0, 180, 180);
}


.usersTable_td1 {
    font-size: 0.8rem;
    vertical-align: middle;
    background: rgb(0, 40, 160);
}


.usersTable_td2 {
    font-size: 0.8rem;
    vertical-align: middle;
    background: rgb(0, 120, 140);
}


.usersTable_td3 {
    font-size: 0.8rem;
    vertical-align: middle;
    background: rgb(0, 60, 120);
}


.usersTable_td4 {
    font-size: 0.8rem;
    vertical-align: middle;
    background: rgb(0, 80, 100);
}

.edit_user_td{
    border: none;
    background: none;
    vertical-align: middle;
    padding-left: 0.5em;
}

.edit_user_img{
    height: 1rem;
    margin: auto;
}

.edit_user_btn {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.5em;
    background: var(--b_jasny_szary);
    transition: 0.6s;
    cursor: pointer;
}

    .edit_user_btn:hover {
        background: var(--gradient);
        transition: 0.6s;
    }

.managePage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.8);
    z-index: 10000;
    display: none;
}

.managePageSection {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 50%;
    background: var(--jasny_szary);
    border-radius: 1rem;
    box-shadow: 0 0 15px -2px #fff;
}

.usersTableManage {
    position: relative;
}

.scroll_box {
    overflow: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
}


.usersTable_td_manage {
    border-radius: 0;
    border: 0.1em solid var(--bialy);
    padding: 0.5em;
    color: var(--bialy);
    background: var(--sredni_szary);
}

#escape {
    position: absolute;
    right: 1em;
    top: 1em;
    border-radius: 50%;
    padding: 0.3em;
    background: rgb(111, 0, 0);
    border: 0.1em solid var(--bialy);
    cursor: pointer;
}

    #escape:hover {
        background: rgb(144, 0, 0);
    }

.escape_img{
    width: 0.7rem;
    height: 0.7rem;
}

/* /users PODSTRONA */

/* files PODSTRONA */

.files_page {
    text-align: left;
    position: relative;
    width: 80%;
    background: var(--jasny_szary);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: var(--radius_uslugi);
}

.filesContainer {
    overflow-x: auto;
    max-height: 35rem;
    width: 90%;
}

.filesTable_th, .filesTable_td0, .filesTable_td1, .filesTable_td2, .filesTable_td3, .filesTable_td4 {
    border-radius: 0;
    border: 0.1em solid var(--bialy);
    padding: 0.5em;
    color: var(--bialy);
    background: var(--sredni_szary);
    white-space: nowrap;
}

.filesTable_th {
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}

.filesTable_td0 {
    font-size: 0.8rem;
    vertical-align: middle;
    background: rgb(0, 180, 180);
}


.filesTable_td1 {
    font-size: 0.8rem;
    vertical-align: middle;
    background: rgb(0, 40, 160);
}


.filesTable_td2 {
    font-size: 0.8rem;
    vertical-align: middle;
    background: rgb(0, 120, 140);
}


.filesTable_td3 {
    font-size: 0.8rem;
    vertical-align: middle;
    background: rgb(0, 60, 120);
}


.filesTable_td4 {
    font-size: 0.8rem;
    vertical-align: middle;
    background: rgb(0, 80, 100);
}

.edit_files_td {
    border: none;
    background: none;
    vertical-align: middle;
    padding-left: 0.5em;
}

.edit_files_img {
    height: 1rem;
    margin: auto;
}

.edit_files_btn {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.5em;
    background: var(--b_jasny_szary);
    transition: 0.6s;
    cursor: pointer;
}

    .edit_files_btn:hover {
        background: var(--gradient);
        transition: 0.6s;
    }

/* /files PODSTRONA */

.bubble {
    position: fixed;
    top: 2em;
    width: 11em;
    background: var(--ciemny_szary);
    opacity: 0.9;
    text-align: center;
    padding: 3em;
    border-radius: 2em;
    transition: 1s;
    z-index: 100000;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

h5{
    color: var(--bialy);
    font-size: 1rem;
    display: none;
}
/*---------------------------90em--------------------------------------*/
@media screen and (max-width: 90em) {

    .usersTable_th {
        font-size: 0.9em;
    }

    .usersTable_td {
        font-size: 0.7rem;
    }

    .edit_user_img {
        height: 0.8rem;
    }

    .edit_user_btn {
        width: 2rem;
        height: 2rem;
    }

    .nav_tr {
        font-size: 1.1rem;
    }

    /* Footer */
    .contact_inf {
        font-size: 1.3rem;
    }
    /* /Footer */
}
/*---------------------------90em--------------------------------------*/

/*---------------------------70em--------------------------------------*/
@media screen and (max-width: 70em) {

    .usersTable_th {
        font-size: 0.8em;
    }

    .usersTable_td {
        font-size: 0.6rem;
    }

    .edit_user_img {
        height: 0.7rem;
    }

    nav{
        min-width: 5%;
    }

    .page{
        margin-left: 15%;
    }

    h4 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .nav_table {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .nav_td {
        display: none;
    }

    .img_td{
        display: table-cell;
        padding: 0.5em;
        border-radius: 0.5em;
        text-align: center;
    }

    .nav_icons{
        height: 3rem;
    }
  
    /* Footer */
    .contact_inf {
        font-size: 1.1rem;
    }
    /* /Footer */

}
/*---------------------------70em--------------------------------------*/

/*---------------------------60em--------------------------------------*/
@media screen and (max-width: 60em) {

    .usersTable_th {
        font-size: 0.7em;
    }

    .usersTable_td {
        font-size: 0.5rem;
    }

    .edit_user_img {
        height: 0.6rem;
    }

    .edit_user_btn {
        width: 1.8rem;
        height: 1.8rem;
    }

    .signup button {
        width: 8rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    /* Footer */
    footer {
        position: relative;
        bottom: 0;
    }

    .contact {
        flex-direction: column;
    }

    .contact_inf {
        font-size: 0.6rem;
        margin-top: 0.5em;
        margin-right: 0;
    }

    .copyright {
        text-align: center;
        font-size: 0.6rem;
    }

    #regulamin {
        margin-left: auto;
        margin-right: auto;
    }
    /* /Footer */
}
/*---------------------------60em--------------------------------------*/

/*---------------------------50em--------------------------------------*/
@media screen and (max-width: 50em) {
    .look_for {
        width: 6rem;
    }

    #order_by {
        font-size: 0.8rem;
    }

        #order_by option {
            font-size: 0.8rem;
        }

    h4 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    .nav_icons {
        height: 2rem;
    }

}
/*---------------------------50em--------------------------------------*/

/*---------------------------40em--------------------------------------*/
@media screen and (max-width: 40em) {
    h4 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}
/*---------------------------40em--------------------------------------*/

@media screen and (max-width: 30em) {

    .sig_page {
        margin-left: 8%;
        margin-right: 3%;
    }
}
